/* 全局 */
:root {
  --border_nomal: solid 1px #393939ee !important;
  --border_hover: solid 1px #393939ff !important;
  --Acrylic_background: hsla(0, 0%, 4%, 0.25) !important;
  --Acrylic_filter: blur(4px) !important;
  --header_height: 40 !important;
  --footer_height: 30 !important;
  --canvas_height: calc(100% - var(--v-layout-left) - var(--v-layout-right));
  --canvas_width: calc(
    100% - var(--v-layout-top) - var(--v-layout-bottom) - 32px
  );
  --red_color: #d12d49ee;
  --red_hover_color: #d12d49ff;
  --white_color: #ffffff84;
  --white_hover_color: #ffffff;
  --tab_height: 38px;
  --outline_w: 366px;
  --content_bg_color: #313131;
}

/* 新的 */
/* 滚动条整体 */
*::-webkit-scrollbar {
  height: 2px !important;
  width: 2px !important;
}
/* 滚动条轨道 */
*::-webkit-scrollbar-track {
  background: #333333 !important;
}
/* 滚动条滑块 */
*::-webkit-scrollbar-thumb {
  background: #333333 !important;
}
* {
  overflow: hidden;
}
.fm_app {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.fm_btn_toggle {
  height: 40px !important;
  border-radius: 0px !important;
}
.fm_header_bar {
  border-bottom: var(--border_nomal) !important;
  box-shadow: none !important;
  background-color: var(--Acrylic_background);
  backdrop-filter: var(--Acrylic_filter);
}

.fm_footer_bar {
  border-top: var(--border_nomal) !important;
  box-shadow: none !important;
  background-color: var(--Acrylic_background);
  backdrop-filter: var(--Acrylic_filter);
  padding-left: 0px !important;
}
.fm_nav_icon {
  border-radius: 0px !important;
}
.fm_nav_btn {
  color: var(--white_color) !important;
  border-radius: 0px !important;
}
.fm_nav_btn:hover {
  color: var(--white_hover_color) !important;
}

/*  */
.fm_left_area_cards > .v-card-text {
  width: 100%;
  padding: 4px !important;
  border-top: var(--border_nomal) !important;
}
.fm_right_area_cards > .v-card-text {
  width: 100%;
  padding: 4px !important;
  border-top: var(--border_nomal) !important;
}
.fm_left_tabs_vertical {
  max-width: 48px;
  width: 48px;
  border-right: var(--border_nomal);
}
.fm_left_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn {
  width: 48px !important;
  max-width: 48px !important;
  min-width: 48px !important;
}
.fm_left_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__overlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_left_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__underlay {
  width: 48px !important;
  max-width: 48px !important;
}
/*  */
.fm_right_tabs_vertical {
  max-width: 48px;
  width: 48px;
  border-left: var(--border_nomal);
}
.fm_right_tabs_vertical_none_leftborder {
  max-width: 48px;
  width: 48px;
}
.fm_right_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn {
  width: 48px !important;
  max-width: 48px !important;
  min-width: 48px !important;
}
.fm_right_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__overlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_right_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__underlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_right_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__content
  > .v-tab__slider {
  left: 45px !important;
}

.fm_right_tabs_vertical_none_leftborder
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn {
  width: 48px !important;
  max-width: 48px !important;
  min-width: 48px !important;
}
.fm_right_tabs_vertical_none_leftborder
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__overlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_right_tabs_vertical_none_leftborder
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__underlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_right_tabs_vertical_none_leftborder
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__content
  > .v-tab__slider {
  left: 45px !important;
}
/*  */
.fm_main {
  position: absolute;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
}
/*  */
.fm_sheet {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  /* height: calc(100% - 2px); */
}
/*  */
.fm_main_area_tabs {
  border-bottom: var(--border_nomal) !important;
  width: 100% !important;
}
.fm_main_area_tab {
  width: 48px !important;
  min-width: 48px !important;
  max-width: 48px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.fm_main_area_window {
  top: 0px;
  left: 0px;
  height: calc(100% - 38px) !important;
  max-height: calc(100% - 38px) !important;
  width: 100%;
}
.fm_main_area_window > .v-window__container {
  height: 100%;
  max-height: 100%;
}
.fm_main_area_window > .v-window__container > .v-window-item--active {
  height: 100%;
  max-height: 100%;
}
.fm_wasm_canvas {
  padding: 0px !important;
  margin: 0px !important;
  margin-bottom: -7px !important;
}
.fm_main_area_window_item {
  margin: 0px !important;
  padding: 0px !important;
}
/*  */
.fm_left_flex {
  width: 48px;
  height: 100%;
  border-top: var(--border_nomal) !important;
}
.fm_left_flex_large {
  width: 366px;
  height: 100%;
  border-top: var(--border_nomal) !important;
}
.fm_right_flex {
  height: 100%;
  border-top: var(--border_nomal) !important;
}
.fm_right_flex_large {
  width: 366px;
  height: 100%;
  border-top: var(--border_nomal) !important;
}
/*  */
.fm_left_text_field {
  height: 38px !important;
}
.fm_left_text_field
  > .v-input__control
  .fm_left_text_field
  > .v-input__control
  > .v-field
  .fm_left_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  .fm_left_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  height: 38px !important;
  padding-right: 0px !important;
}
.fm_left_text_field > .v-input__control > .v-field {
  padding-right: 0px !important;
}
.fm_left_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  height: 38px !important;
  padding-left: 4px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}
.fm_left_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-label.v-field-label {
  margin-left: 4px !important;
}
/*  */
.fm_right_text_field {
  height: 38px !important;
}
.fm_right_text_field
  > .v-input__control
  .fm_right_text_field
  > .v-input__control
  > .v-field
  .fm_right_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  .fm_right_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  height: 38px !important;
  padding-right: 0px !important;
}
.fm_right_text_field > .v-input__control > .v-field {
  padding-right: 0px !important;
}
.fm_right_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  height: 38px !important;
  padding-left: 4px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}
.fm_right_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-label.v-field-label {
  margin-left: 4px !important;
}

.fm_footer_info {
  height: 30px;
  width: 48px;
  background-color: var(--red_color);
}
.fm_footer_bar > .fm_footer_info > i {
  text-align: center !important;
  height: 30px !important;
  line-height: 30px;
  padding-left: 16px;
}

.fm_footer_bar > span {
  text-align: right !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  font-size: 12px;
}

/* tl 区域 */
.fm_tl_out_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.fm_tl_outline {
  width: var(--outline_w);
  height: 100%;
  border-right: var(--border_nomal);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.fm_outline_header {
  height: 30px;
  border-bottom: var(--border_nomal);
  overflow: hidden;
}
.outline_scroll_container {
  height: 100%;
  overflow: hidden;
}
.outline_items {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
  background-color: var(--content_bg_color);
}
.outline_node {
  padding-left: 8px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  user-select: none;
  height: 30px;
  background-color: #252526;
  margin-bottom: 2px;
}
.outline_node:hover {
  background-color: var(--red_hover_color);
}
.outline_node_select {
  background-color: var(--red_hover_color);
}
.fm_timeline {
  top: 0;
  left: var(--outline_w);
  position: absolute;
  /* width: calc(100% - var(--outline_w) - 1px); */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* 修改 */
.fm_header_bar > .v-toolbar__content > .v-toolbar__prepend {
  margin-left: 0px !important;
  background-color: var(--red_color);
}
.fm_header_bar > .v-toolbar__content > .v-toolbar__prepend:hover {
  background-color: var(--red_hover_color);
}
