/* 全局 */
:root {
  --border_nomal: solid 1px #393939ee !important;
  --border_hover: solid 1px #393939ff !important;
  --Acrylic_background: hsla(0, 0%, 4%, 0.25) !important;
  --Acrylic_filter: blur(4px) !important;
  --header_height: 40 !important;
  --footer_height: 30 !important;
  --canvas_height: calc(100% - var(--v-layout-left) - var(--v-layout-right));
  --canvas_width: calc(
    100% - var(--v-layout-top) - var(--v-layout-bottom) - 32px
  );
  --red_shallow_color: #e94d67ee;
  --red_prohibit_color: #6c3f48c7;
  --red_color: #d12d49ee;
  --purple_color: #5f1acdee;
  --red_hover_color: #d12d49ff;
  --white_color: #ffffff84;
  --white_hover_color: #ffffff;
  --tab_height: 38px;
  --outline_w: 318px;
  --la_w: 366px;
  --content_bg_color: #313131;
  --bg_color: rgb(33, 33, 33) !important;
  --box_shadow: 1px 2px 0px 0px #4343443c, 0px 0px 0px 1px #1f1f2200 !important;
  --btn_h: 36px !important;
  --btn_w: 36px !important;
  --f_btn_h: 30px !important;
  --f_btn_w: 30px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
/* input[type="number"] {
  -moz-appearance: textfield;
} */
/* 新的 */
/* 滚动条整体 */
*::-webkit-scrollbar {
  height: 2px !important;
  width: 2px !important;
}
/* 滚动条轨道 */
*::-webkit-scrollbar-track {
  background: #333333 !important;
}
/* 滚动条滑块 */
*::-webkit-scrollbar-thumb {
  background: #333333 !important;
}
* {
  overflow: hidden;
}
.fm_app {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.fm_btn_toggle {
  height: 40px !important;
  border-radius: 0px !important;
}
.fm_header_bar {
  border-bottom: var(--border_nomal) !important;
  box-shadow: none !important;
  background-color: var(--Acrylic_background);
  backdrop-filter: var(--Acrylic_filter);
}

.fm_footer_bar {
  border-top: var(--border_nomal) !important;
  box-shadow: none !important;
  background-color: var(--Acrylic_background);
  backdrop-filter: var(--Acrylic_filter);
  padding-left: 0px !important;
}
.fm_nav_icon {
  border-radius: 0px !important;
}
.fm_nav_btn {
  color: var(--white_color) !important;
  border-radius: 0px !important;
}
.fm_nav_btn:hover {
  color: var(--white_hover_color) !important;
}

/*  */
.fm_left_area_cards {
  width: calc(var(--la_w) - 48px);
  border-radius: 0px !important;
}
.fm_right_area_cards {
  width: calc(var(--la_w) - 48px);
  border-radius: 0px !important;
}
.fm_left_area_cards > .v-card-text {
  width: 100% !important;
  padding: 0px !important;
  border-top: var(--border_nomal) !important;
}
.fm_right_area_cards > .v-card-text {
  width: 100%;
  padding: 0px !important;
  border-top: var(--border_nomal) !important;
}
.fm_left_tabs_vertical {
  max-width: 48px;
  width: 48px;
  border-right: var(--border_nomal);
}
.fm_left_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn {
  width: 48px !important;
  max-width: 48px !important;
  min-width: 48px !important;
}
.fm_left_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__overlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_left_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__underlay {
  width: 48px !important;
  max-width: 48px !important;
}
/*  */
.fm_right_tabs_vertical {
  max-width: 48px;
  width: 48px;
  border-left: var(--border_nomal);
}
.fm_right_tabs_vertical_none_leftborder {
  max-width: 48px;
  width: 48px;
}
.fm_right_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn {
  width: 48px !important;
  max-width: 48px !important;
  min-width: 48px !important;
}
.fm_right_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__overlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_right_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__underlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_right_tabs_vertical
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__content
  > .v-tab__slider {
  left: 45px !important;
}

.fm_right_tabs_vertical_none_leftborder
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn {
  width: 48px !important;
  max-width: 48px !important;
  min-width: 48px !important;
}
.fm_right_tabs_vertical_none_leftborder
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__overlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_right_tabs_vertical_none_leftborder
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__underlay {
  width: 48px !important;
  max-width: 48px !important;
}
.fm_right_tabs_vertical_none_leftborder
  > .v-slide-group__container
  > .v-slide-group__content
  > .v-btn
  > .v-btn__content
  > .v-tab__slider {
  left: 45px !important;
}
/*  */
.fm_main {
  position: absolute;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
}
/*  */
.fm_sheet {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  /* height: calc(100% - 2px); */
}
/*  */
.fm_card_no_radius {
  border-radius: 0px !important;
}
/*  */
.fm_main_area_tabs {
  border-bottom: var(--border_nomal) !important;
  width: 100% !important;
}
.fm_main_area_tab {
  width: 48px !important;
  min-width: 48px !important;
  max-width: 48px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.fm_main_area_window {
  top: 0px;
  left: 0px;
  height: calc(100% - 38px) !important;
  max-height: calc(100% - 38px) !important;
  width: 100%;
}
.fm_main_area_window > .v-window__container {
  height: 100%;
  max-height: 100%;
}
.fm_main_area_window > .v-window__container > .v-window-item--active {
  height: 100%;
  max-height: 100%;
}
.fm_wasm_canvas {
  padding: 0px !important;
  margin: 0px !important;
  margin-bottom: -7px !important;
}
.fm_main_area_window_item {
  margin: 0px !important;
  padding: 0px !important;
}
/*  */
.fm_left_flex {
  width: 48px;
  height: 100%;
  border-top: var(--border_nomal) !important;
  border-radius: 0px !important;
}
.fm_left_flex_large {
  width: 366px;
  height: 100%;
  border-top: var(--border_nomal) !important;
  border-radius: 0px !important;
}
.fm_right_flex {
  height: 100%;
  border-top: var(--border_nomal) !important;
  border-radius: 0px !important;
}
.fm_right_flex_large {
  width: 366px;
  height: 100%;
  border-radius: 0px !important;
  /* border-top: var(--border_nomal) !important; */
}
/*  */
.fm_left_text_field {
  height: 38px !important;
}
.fm_left_text_field > .v-input__control > .v-field > .v-field__append-inner {
  width: 28px !important;
}
.fm_left_text_field
  > .v-input__control
  .fm_left_text_field
  > .v-input__control
  > .v-field
  .fm_left_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  .fm_left_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  font-size: 13px !important;
  height: 38px !important;
  padding-right: 0px !important;
}
.fm_left_text_field > .v-input__control > .v-field {
  padding-right: 0px !important;
  font-size: 13px !important;
}
.fm_left_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  font-size: 13px !important;
  height: 38px !important;
  padding-left: 4px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}
.fm_left_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-label.v-field-label {
  margin-left: 4px !important;
  font-size: 13px !important;
}
/*  */
.fm_right_text_field {
  font-size: 13px !important;
  height: 38px !important;
}
.fm_right_text_field
  > .v-input__control
  .fm_right_text_field
  > .v-input__control
  > .v-field
  .fm_right_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  .fm_right_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  font-size: 13px !important;
  height: 38px !important;
  padding-right: 0px !important;
}
.fm_right_text_field > .v-input__control > .v-field {
  padding-right: 0px !important;
  font-size: 13px !important;
}
.fm_right_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  height: 38px !important;
  padding-left: 4px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  font-size: 13px !important;
}
.fm_right_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-label.v-field-label {
  margin-left: 4px !important;
  font-size: 13px !important;
}
.fm_right_text_field > .v-input__control > .v-field > .v-field__append-inner {
  width: 28px !important;
}

.fm_footer_info {
  height: 30px;
  width: 48px;
  background-color: var(--red_color);
}
.fm_footer_bar > .fm_footer_info > i {
  text-align: center !important;
  height: 30px !important;
  line-height: 30px;
  padding-left: 16px;
}

.fm_footer_bar > span {
  text-align: right !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  font-size: 12px;
}
.fm_toolbar_span {
  text-align: right !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  font-size: 12px;
  border-radius: 0px !important;
}
.fm_toolbar > .v-toolbar__content {
  border-top: var(--border_nomal);
  background-color: var(--bg_color);
  border-radius: 0px !important;
  height: var(--btn_h);
  min-height: var(--btn_h);
  max-height: var(--btn_h);
}
.fm_toolbar > .v-toolbar__content > .btn {
  margin-left: 0px;
}
.fm_toolbar > .v-toolbar__content > .fm_btn {
  min-width: 32px !important;
  max-width: 32px !important;
  width: 32px !important;
  min-height: 32px !important;
  max-height: 32px !important;
  height: 32px !important;
  background-color: var(--red_color) !important;
  margin-right: 1px !important;
}
.fm_toolbar > .v-toolbar__content > .fm_btn:hover {
  background-color: var(--red_hover_color) !important;
}

.fm_toolbar_bottom > .v-toolbar__content {
  border-top: var(--border_nomal);
  background-color: var(--bg_color);
  border-radius: 0px !important;
  height: 28px !important;
  min-height: 28px !important;
  max-height: 28px !important;
}
/* tl 区域 */
.fm_tl_out_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.fm_tl_outline {
  width: var(--outline_w);
  height: 100%;
  border-right: var(--border_nomal);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.fm_outline_header {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  border-bottom: var(--border_nomal);
  overflow: hidden;
}
.fm_outline_header_in > .v-toolbar__content {
  background-color: var(--bg_color);
  border-radius: 0px !important;
  height: 28px !important;
  min-height: 28px !important;
  max-height: 28px !important;
}
.outline_scroll_container {
  height: 100%;
  overflow: hidden;
}
.outline_items {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
  background-color: var(--content_bg_color);
}
.outline_node {
  padding-left: 4px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  user-select: none;
  height: 30px;
  background-color: #252526;
  margin-bottom: 2px;
}
.outline_node:hover {
  background-color: var(--red_hover_color);
}
.outline_node_select {
  background-color: var(--red_hover_color);
}
.fm_timeline {
  top: 0;
  left: var(--outline_w);
  position: absolute;
  /* width: calc(100% - var(--outline_w) - 1px); */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.fm_v_left_container {
  padding: 4px !important;
  width: 318px;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  overflow-y: auto !important;
}
.fm_v_right_container {
  padding: 0px !important;
  width: 318px;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  overflow-y: auto !important;
}

.fm_card_title_l {
  padding: 0px !important;
  margin: 0px !important;
  border-left: var(--border_nomal);
  border-right: var(--border_nomal);
  border-top: var(--border_nomal);
}
.fm_card_title_l > span {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 6px !important;
  font-size: 13px !important;
  white-space: nowrap;
  /* //对超出内容隐藏 */
  overflow: hidden;
  /* //显示省略符号来代表被修剪的文本 */
  text-overflow: ellipsis;
}
.fm_card_title_l > .v-img {
  margin: 4px !important;
  padding: 0px !important;
}
.fm_card_title_l_flex {
  margin: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  font-size: 12px !important;
  white-space: nowrap;
  /* //对超出内容隐藏 */
  overflow: hidden;
  /* //显示省略符号来代表被修剪的文本 */
  text-overflow: ellipsis;
  border: var(--border_nomal);
  /* display: flex;
  flex-direction: column; */
}
.fm_card_title_l_flex > .v-img {
  width: 50px;
  height: 50px;
}
.fm_card_title_l_flex > .one {
  position: absolute;
  top: 0px;
  left: 60px;
}
.fm_card_title_l_flex > .two {
  position: absolute;
  top: 18px;
  left: 60px;
}
.fm_card_title_l_flex > .btn {
  position: absolute;
  top: 8px;
  left: 256px;
}
.fm_btn_left {
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;

  min-width: 24px !important;
  max-width: 24px !important;
  width: 24px !important;
  min-height: 24px !important;
  max-height: 24px !important;
  height: 24px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  margin: 0px !important;
  background-color: var(--red_shallow_color) !important;
}
.fm_btn_mid {
  border-radius: 0px !important;
  min-width: 24px !important;
  max-width: 24px !important;
  width: 24px !important;
  min-height: 24px !important;
  max-height: 24px !important;
  height: 24px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  margin: 0px !important;
  background-color: var(--red_shallow_color) !important;
}
.fm_btn_right {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  min-width: 24px !important;
  max-width: 24px !important;
  width: 24px !important;
  min-height: 24px !important;
  max-height: 24px !important;
  height: 24px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  margin: 0px !important;
  background-color: var(--red_shallow_color) !important;
}
.fm_btn_right:hover {
  background-color: var(--red_hover_color) !important;
}
.fm_btn_left:hover {
  background-color: var(--red_hover_color) !important;
}
.fm_btn_mid:hover {
  background-color: var(--red_hover_color) !important;
}

.fm_window {
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  border-radius: 0px !important;
}
.fm_window > .v-window__container {
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  border-radius: 0px !important;
}
.fm_window_item {
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  border-radius: 0px !important;
}
.fm_window_item > .fm_right_area_cards {
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
}
.fm_window_item > .fm_left_area_cards {
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
}
.fm_card_actions {
  border: var(--border_nomal);
  padding: 0px !important;
  height: 28px !important;
  max-height: 28px !important;
  min-height: 28px !important;
}
.fm_card_text {
  font-size: 12px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  text-align: right;
  border-left: var(--border_nomal);
  border-right: var(--border_nomal);
}
.fm_card_text_for_left_out {
  top: 36px;
  width: 318px;
  height: calc(100% - 64px) !important;
  min-height: calc(100% - 64px) !important;
  max-height: calc(100% - 64px) !important;
}
.fm_card_text_for_right_out {
  top: 36px;
  width: 318px;
  height: calc(100% - 28px) !important;
  min-height: calc(100% - 28px) !important;
  max-height: calc(100% - 28px) !important;
}

.fm_card_res {
  margin-top: 0px !important;
  margin-bottom: 4px !important;
  height: auto;
  border-radius: 0px !important;
  box-shadow: 1px 2px 0px 0px #4343443c, 0px 0px 0px 1px #1f1f2200 !important;
}
.fm_card_res:hover {
  background-color: var(--purple_color) !important;
}
.active {
  background-color: var(--purple_color) !important;
}
/* .fm_toolbar_res
{
  border-bottom: var(--border_nomal);
} */
.fm_btn {
  border-radius: 0px !important;
  min-width: 24px !important;
  max-width: 24px !important;
  width: 24px !important;
  min-height: 24px !important;
  max-height: 24px !important;
  height: 24px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  margin: 0px !important;
  /* background-color: var(--red_shallow_color) !important; */
}
.fm_btn:hover {
  background-color: var(--red_hover_color) !important;
}

.fm_btn_prohibit {
  pointer-events: none;
  background-color: var(--red_prohibit_color) !important;
  cursor: not-allowed !important;
}
.fm_expansion_panels {
  margin: 0px !important;
  padding: 0px !important;
}
.fm_expansion_panel {
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 0px !important;
}
.fm_expansion_panel_title {
  min-height: 35px !important;
  max-height: 35px !important;
  height: 35px !important;
  padding-left: 4px !important;
  background-color: var(--purple_color) !important;
  padding: 0px !important;
}
.fm_expansion_panel_title > span {
  /* margin-left: 0px !important; */
  padding-left: 2px !important;
  text-align: start !important;
  float: left !important;
}
.fm_expansion_panel_title > i {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 100% !important;
  width: 30px !important;
  line-height: 100% !important;
  background-color: transparent;
  border-right: var(--border_nomal);
}
.fm_expansion_panel_title > span > i {
  margin-right: 8px !important;
  font-size: 13px !important;
}
.fm_expansion_panel_text {
  padding: 0px !important;
  margin: 0px !important;
  /* margin-top: 8px !important; */
}
.fm_expansion_panel_text > .v-expansion-panel-text__wrapper {
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: 0px !important;
}
.fm_v_text_field {
  padding-top: 0px !important;
  padding-bottom: 4px !important;
}
.fm_v_text_field > .v-input__control > .v-field {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.fm_v_text_field > .v-input__control > .v-field > .v-field__field {
  margin-right: -24px !important;
}
.fm_v_text_field
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  font-size: 12px !important;
  border-bottom: var(--border_nomal);
}
.fm_v_text_field > .v-input__control > .v-field > .v-field__clearable {
  border-bottom: var(--border_nomal);
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.fm_v_text_field_3 {
  max-width: 90px !important;
  min-width: 90px !important;
  width: 90px !important;
}

/*  */
.fm_v_combobox {
  padding-top: 0px !important;
  padding-bottom: 4px !important;
}
.fm_v_combobox > .v-input__control > .v-field {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.fm_v_combobox > .v-input__control > .v-field > .v-field__field {
  margin-right: -52px !important;
}
.fm_v_combobox
  > .v-input__control
  > .v-field
  > .v-field__field
  > .v-field__input {
  font-size: 12px !important;
  border-bottom: var(--border_nomal);
}
.fm_v_combobox > .v-input__control > .v-field > .v-field__clearable {
  border-bottom: var(--border_nomal);
  margin-left: 0px !important;
  margin-right: -28px !important;
  padding-left: 4px !important;
}

/*  */
.fm_toolbar_contain {
  border-left: var(--border_nomal);
  width: fit-content !important;
}

.fm_toolbar_btn {
  min-width: 28px !important;
  max-width: 28px !important;
  width: 28px !important;
  min-height: 28px !important;
  max-height: 28px !important;
  height: 28px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}
.fm_toolbar_btn > span > i {
  font-size: 0.9em !important;
}

.fm_ol_toolbar_btn {
  min-width: 28px !important;
  max-width: 28px !important;
  width: 28px !important;
  min-height: 28px !important;
  max-height: 28px !important;
  height: 28px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}
.fm_ol_toolbar_btn > span > i {
  font-size: 1em !important;
}

.fm_dialog_card {
  border-radius: 2px !important;
}
.fm_dialog_card > .v-card-title {
  padding-left: 8px !important;
  border-bottom: var(--border_nomal);
}
.fm_dialog_card > .v-card-text {
  padding-left: 8px !important;
  border-bottom: var(--border_nomal);
}
.fm_switch {
  padding-left: 0px !important;
  height: 40px !important;
  min-height: 40px !important;
  max-height: 40px !important;
}
.fm_switch > .v-input__control > .v-selection-control {
  height: 40px !important;
  min-height: 40px !important;
  max-height: 40px !important;
}
.fm_switch
  > .v-input__control
  > .v-selection-control
  > .v-selection-control__wrapper {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}
.fm_switch > .v-input__control > .v-selection-control > .v-label {
  padding-left: 0px !important;
  border-bottom: var(--border_nomal);
  font-size: 12px !important;
}
.fm_color_div {
  width: 318px !important;
  min-width: 318px !important;
  max-width: 318px !important;
  display: flex;
}
.fm_color_div > .span_div {
  width: 252px !important;
  min-width: 252px !important;
  max-width: 252px !important;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  border-bottom: var(--border_nomal);
}
.fm_color_div > .span_div > span {
  height: 32px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
}
/* -------------------------------------- */

/* 修改 */
.fm_header_bar > .v-toolbar__content > .v-toolbar__prepend {
  margin-left: 0px !important;
  background-color: var(--red_color);
}
.fm_header_bar > .v-toolbar__content > .v-toolbar__prepend:hover {
  background-color: var(--red_hover_color);
}

.vc-colorpicker.black {
  background-color: #313131 !important;
}
.vc-color-wrap.transparent {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.v-list-item-title
{
  font-size: 13px !important;
}
.v-list-item-subtitle
{
  font-size: 12px !important;
}